@model CRUD_Design.Models.DBModel.RunInfo
@{
    ViewData["Title"] = "Edit Record";
}

<div>
    <form asp-action="Edit" method="post">
      <input type="hidden" asp-for="Id" value="@Model.Id" />
        <input type="hidden" class="form-control mb-2" asp-for="ApplicationUserId" value="@Model.ApplicationUserId" />
        <input type="number" class="form-control mb-2" asp-for="Distance" value="@Model.Distance" />
        <input type="number" class="form-control mb-2" asp-for="Time" value="@Model.Time" />
        <input type="date" class="form-control mb-2" asp-for="Date" value="@Model.Date.ToString("yyyy-MM-dd")" />
       

        <input type="submit" class="btn btn-outline-secondary" value="Edit" />
    </form>
</div>
