@model CRUD_Design.Models.DBModel.RunInfo
@{
    ViewData["Title"] = "Edit Record";
}

<div>
    <form asp-action="Edit" method="post">
        <h3>Edit Record</h3>
      <input type="hidden" asp-for="Id" value="@Model.Id" />

        <div>
            <input type="hidden" class="form-control mb-2" asp-for="ApplicationUserId" value="@Model.ApplicationUserId" />
        </div>
        <div class="mb-2">
            <label class="mb-1">Distance</label>
            <input type="number" class="form-control mb-2" asp-for="Distance" value="@Model.Distance" />
        </div>
        <div class="mb-2">
            <label class="mb-1">Time</label>
            <input type="number" class="form-control mb-2" asp-for="Time" value="@Model.Time" />
        </div>
        <div class="mb-2">
            <label class="mb-1">Date</label>
            <input type="date" class="form-control " asp-for="Date" value="@Model.Date.ToString("yyyy-MM-dd")" onfocus="(this.type='date')" onfocusout="(this.type='text')" />
        </div>
       

        <input type="submit" class="btn btn-outline-secondary" value="Edit" />
    </form>
</div>
