@using CRUD_Design.Models.DTO.RunInfo
@model IList<CRUD_Design.Models.DBModel.RunInfo>

@{
    var runInfo = @Model;

    DateSearchDTO query = ViewBag.Query;
    string header = $"Showing records from: {query.dateFrom} "; // is there a way to access data from query string?

    if (query.dateTo != null)
        header += $"to {query.dateTo} ";

    if (query.distance != null)
        header += $", distance: {query.distance} ";

    if (query.time != null)
        header += $", time{query.time} ";


    //var test = Context.Request.Query["dateFrom"];
    // can i access those from query string instead?
}

<div class="text-center">

@*    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
*@
</div>

<div className='wrapper'>
    <h3>@header</h3>

    <div id="divider" class="justify-content-evenly">
                    
            @{
                if(runInfo.Count() == 0)
                {
                    <section >No recrods yet. Start by adding one record</section>
                    return;
                }
            }

             <section id="memos">
            <div class="table-responsive-xl table-striped">
            <table class="table">
                <thead>
                    <tr>
                        <th>Distance</th>
                        <th>Time</th>
                        <th>Date</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                        @foreach (var item in runInfo)
                        {
                      <tr>
                        <td>@item.Distance</td>
                        <td>@item.Time</td>
                        <td>@item.Date</td>
                        <td> <a class="btn btn-secondary"  asp-action="Edit" asp-route-Id= "@item.Id">edit</a> <a asp-action="Delete" asp-route-Id= "@item.Id" class="btn btn-secondary" >delete</a></td>
                    </tr>
                        }
                </tbody>
                </table>
                </div>
                </section>
            </div>
        </div>
        