@model CreateRunInfoDTO 

@{
    ViewData["Title"] = "Sportsmeter Home";
    IEnumerable<CRUD_Design.Models.DBModel.RunInfo> runInfo = ViewBag.RunInfo;
}

<div class="text-center">

@*    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
*@
</div>

<div className='wrapper'>
            <div id="divider">
                <section class="input-form">
                    <form asp-action="Add">
                        <div>
                            <input asp-for="Time" placeholder="time" type="number" />
                        </div>
                        <div>
                            <input asp-for="Distance" placeholder="distance" type="number" />
                        </div>
                        <div>
                            <input asp-for="Date" placeholder="date" type="date" />
                        </div>
                        <aside>
                <button type="submit" >Add</button>
                        </aside>
                    </form>
                </section>
                    
            @{
                if(runInfo.Count() == 0)
                {
                    <section>No recrods yet. Start by adding one record</section>
                    return;
                }
            }

                <section id="memos">
                    <div class="table-responsive-xl">
            <table class="table">
                <thead>
                    <tr>
                        <th>Distance</th>
                        <th>Time</th>
                        <th>Date</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                        @foreach (var item in runInfo)
                        {
                      <tr>
                        <td>@item.Distance</td>
                        <td>@item.Time</td>
                        <td>@item.Date</td>
                        <td> <a class="btn btn-secondary"  asp-action="Edit" asp-route-Id= "@item.Id">edit</a> <a asp-action="Delete" asp-route-Id= "@item.Id" class="btn btn-secondary" >delete</a></td>
                    </tr>
                        }
                </tbody>
            </table>
        </div>
                </section>
            </div>
        </div>
        